body{
font-family:Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
color:white;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.hero{
height:80vh;
background:url("https://picsum.photos/1200/700");
background-size:cover;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.book-btn{
background:#d4af37;
color:white;
padding:12px 25px;
text-decoration:none;
margin-top:20px;
}

section{
padding:40px;
text-align:center;
}

.room{
border:1px solid #eee;
margin:20px;
padding:20px;
}

#gallery img{
margin:10px;
}

footer{
background:black;
color:white;
text-align:center;
padding:20px;
}
